DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver,web
DJANGO_SECRET_KEY=docker-dev-secret-key

POSTGRES_DB=eps_db
POSTGRES_USER=eps_user
POSTGRES_PASSWORD=eps_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@eps.local
PGADMIN_DEFAULT_PASSWORD=admin123
